# Python & Ambientes Virtuais
**/__pycache__/
*.py[cod]
venv/
.venv/

# Banco de Dados SQLite local
*.db
*.sqlite3

# Variáveis de Ambiente
.env
.env.*
!.env.example

# IDEs e Analisadores
.vscode/
.idea/

# Node / Frontend
node_modules/
dist/
*.local
npm-debug.log*

# Logs
*.log